<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>current</title>
    <link rel="stylesheet" href="../../static/todo/css/currenttodos.css">
    <link rel="icon"  type="image/png" href="../../static/todo/images/favicon-16x16.png">
</head>
<body>
    {% extends 'todo/base.html' %}

    {% block content %}
    <div class="main">
        <div class="table1">
            <h3 align="center">Current Todos</h3>
            <br>
            {% if todos %}
            <ul>

                {% for todo in todos %}

                <li>
                    <div class="point">
                        <a href="{% url 'viewtodo'  todo.id  %}">
                        {% if todo.important %}

                        <b style=" border-radius: 10px; padding: 5px">{% endif %}{{ todo.title }}{% if todo.important %}</b>
                        {% endif %}{% if todo.memo %} - {{ todo.memo }}{% endif %}
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <h3 align="center" style="font-weight: normal">You have nothing to do, you're great :)</h3>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
