<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/todo/css/home.css">
    <link rel="icon"  type="image/png" href="../../static/todo/images/favicon-16x16.png">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div class="main">
        <div class="table1">
            <img src="../../static/todo/images/logo.png" class="home-logo">

            {% extends 'todo/base.html' %}

            {% block content %}
            <div class="main-buttons">
                <a href="{% url 'signupuser' %}">Sign Up</a>
                <a href="{% url 'loginuser' %}">Log in</a>
            </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>

