<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon"  type="image/png" href="../../static/todo/images/favicon-16x16.png">
    <link rel="stylesheet" href="../../static/todo/css/loginuser.css">
</head>
<body>
{% extends 'todo/base.html' %}

{% block content %}
    <div class="main">
        <div class="table1">
            <h2>Log in</h2>
            <div>
                <div>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="content">
                            <div class="form-group">
                                <label for="username">User name</label>

                                <input type="text" name="username" id="username" autocomplete="new-password">
                                </div>
                            <div class="form-group">
                                <label for="password">Password</label>

                                <input type="password" name="password" id="password">
                            </div>
                        </div>
                        {% if error %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endif %}
                        <div class="button-location">

                            <button type="submit">Log in</button>

                        </div>
                    </form>
                    <div class="sign-up-link">

                    <hr>
                        Need an account? <a href="{% url 'signupuser' %}">Sign Up here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>