<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon"  type="image/png" href="../../static/todo/images/favicon-16x16.png">
    <meta charset="UTF-8">
    <title>view todo</title>
</head>
<body>
{% extends 'todo/base.html' %}

{% block content %}

{{ error }}
{{ todo.title }}

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Save</button>
</form>

<form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Complete</button>
</form>

<form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>
{% endblock %}

</body>
</html>