.table1 {
    border: none;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 600px;
    height: auto;
    border-radius: 30px;
    font-size: 35px;
    line-height: 120px;
    background-color: white;
    box-shadow: 0 23px 34px 0 #2339372B;
    padding-top: 80px;
    word-wrap: break-word;
}


h2 {
    font-size: 120px;
    margin-bottom: 15px;
}


.main {
    display: flex;
    justify-content: center;

}

textarea {
    resize: none;
    scale: 2;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    user-select: none;
    width: 139px;
    margin-top: 80px;
    height: 80px;
    font-family: Calibri;

}


.form-group {
    font-size: 20px;
    height: 100px;
    width: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;

}

.form-group label {
    display: block;
    height: 30px;
}

input {
    scale: 2;
    background-color: white;
    font-family: Calibri;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    user-select: none;
    text-align:center;
}

label {
    margin-bottom: 10px;
}

.checkbox {
    height: 100px;
    text-align: center;
    font-family: Calibri;
    font-size: 20px;
    margin-top: 120px;
}

.button {
    scale: 2;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    background-color: white;
    font-family: Calibri;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;

}

.button-place {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}